@import url("https://fonts.googleapis.com/css?family=Exo|Roboto&display=swap");

* {
  /* margin: 0;
  padding: 0;
  border: 0; */
  /* turn on debug borders */
  border: 1px solid red;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  display: inline-block;
  /* white space */
  padding: 1.1em;
  line-height: 1.5em;
}

h5 {
  /* white space */
  margin-bottom: 0.25em;
}

.container,
.container-fluid {
  padding: 2em;
}
